---
import MissionsList from "./MissionsList.astro";
import LineSecSVG from "../../svg/LineSecSVG.astro";
---

<div class="container mis">
    <div class="mission-container">
        <div class="mis-img">
            <img
                src="/dojimg.png"
                alt=""
                style="width: 13.5rem; height: 13.5rem"
            />
        </div>
        <div class="mis-info">
            <h2>Наша миссия</h2>
            <LineSecSVG />
            <span
                >Миссия Прокуратуры состоит в том, чтобы поддерживать
                верховенство закона, обеспечивать безопасность нашей страны и
                защищать гражданские права.</span
            >
            <h2>Наши ценности</h2>
            <LineSecSVG />
            <ul class="doj-star">
                <MissionsList
                    title="Независимость и беспристрастность. Мы работаем каждый день, чтобы завоевать доверие общественности, следуя фактам и закону, куда бы они ни вели, без предубеждений или неправомерного влияния."
                />
                <MissionsList
                    title="Честность и Целостность. Наши сотрудники придерживаются самых высоких стандартов этического поведения, помня о том, что как государственные служащие мы должны работать, чтобы завоевать доверие и внушить доверие общественности, которой мы служим."
                />

                <MissionsList
                    title="Уважать. Наши сотрудники ценят различия в людях и идеях и относятся ко всем со справедливостью достоинством и сочувствием."
                />
                <MissionsList
                    title="Превосходство. Мы работаем каждый день, чтобы обеспечить высочайший уровень обслуживания американского народа и быть ответственным распорядителем долларов налогоплательщиков."
                />
            </ul>
        </div>
    </div>
</div>

<style lang="scss" is:global>
    @use "/src/assets/mixin" as mixins;

    .mis {
        background: #162e51;
    }

    .mission-container {
        @include mixins.flipdisp;
        display: flex;
        justify-content: space-evenly;
    }

    .mis-img {
        margin-top: 2.5rem;
    }

    .mis-info {
        margin-left: 1.5625rem;

        & span {
            line-height: 1.3rem;
            font-size: 1.0625rem;
            font-weight: 400;
        }

        & h2 {
            text-align: start;
            color: #eeeeee;
            font-weight: 700;
        }
    }

    .doj-star {
        margin-bottom: 1.25rem;
    }

    @media (max-width: 500px) {
        .mission-container {
            display: block;
        }

        .mis-img {
            & img {
                display: flex;
                margin: 0 auto;
            }
        }
    }
</style>
