---

---
    <div class="line">
        <div class="line1"></div>
        <div class="line2"></div>
    </div>

<style>
    .line1,
    .line2 {
        background: #ffbe2e;
        width: 3rem;
        height: 0.125rem;
        margin: 0 auto;
    }

    .line1 {
        margin-bottom: 0.1875rem;
    }

    .line2 {
        margin-bottom: 2rem;
    }
</style>