---
import LineSVG from "../svg/LineSVG.astro";
---

<div class="career-prosecutor">
    <div class="career-container">
        <h2>Карьера в прокуратуре</h2>
        <LineSVG />
        <p>
            Вы справедливый человек, который любит делать все по правилам?
            Обвинять преступников по всей строгости Закона, следить за тем,
            чтобы Организации не позорили свою честь? <br />
            Вы хотели бы работать в такой уютной, прибыльной организации со строгой
            дисциплиной? Тогда вы по адресу! Чтобы попасть в ряды Прокуратуры вам
            необходимо сперва подать заявку на должность Практиканта.
        </p>
        <b style="color: #111">ТРЕБОВАНИЯ К КАНДИДАТАМ:</b>
        <ul>
            <li>
                1. Возраст Прокурора должен соответствовать статье 3.7 - 25 лет.
            </li>
            <li>2. Кандидат должен проживать в штате минимум 15 лет.</li>
            <li>3. Кандидат обязан быть законопослушным.</li>
            <li>
                4. Кандидат должен иметь лицензии на оружие, а также на
                управление автотранспортом
            </li>
            <li>
                5. Кандидат не должен быть в розыске или же иметь судимость.
            </li>
            <li>
                6. В медицинской карте иметь выписку что вы полностью здоров и
                не никаких других пометок.
            </li>
            <li>7. Не иметь наркозависимости.</li>
            <li>
                8. Должен иметь выписку из тира с хорошим показателем владения
                оружия «Desert Eagle». (Мастерство будет указано в процентах.)
            </li>
            <li>
                9. Кандидат обязан быть ознакомлен с законами Штата,
                конституцией, а также с правилами Прокуратуры.
            </li>
            <li>10. Все доказательства должны быть не старше недели.</li>
        </ul>
        <p>
            Сперва вам необходимо подать заявку на должность Практиканта. После
            того, как ваша заявка будет рассмотрена Гос. Прокурором или же его
            Заместителем, вам необходимо связаться с ними в спец. рации
            «Discord». Где вас введут в курс дела Прокурора, после чего вы
            будете закреплены Помощникам Гос. Прокурора, которые с радостью
            подарят вам бесценный опыт работы. Научат вас работать с
            Постановлениями, научат проверять государственные организации по
            всему штату, а также обучат вас проводить специальные Прокурорские
            Надзоры. За хорошую работу в конце неделе за еженедельный отчет, вам
            будет полагаться премия, которая наверняка вас обрадует. Мы вас
            заинтересовали? Тогда попросим вас ознакомиться с данным материалом
            на официальном портале штата - <a href="https://forum.arizona-rp.com/threads/4602156/">здесь</a>
            
        </p>
    </div>
</div>

<style lang="scss" is:global>
    @use "/src/assets/mixin" as mixins;

    .career-container {
        @include mixins.flipdisp;
        margin-bottom: 80px;

        & p,
        ul {
            font-size: 15px;
            color: #111;
            font-weight: 300;
            line-height: 1.3;
        }

        & a:hover {
            color: #162e51;
            text-decoration: underline;
        }
    }
</style>
