---
import LineSVG from "../svg/LineSVG.astro";
---

<div class="career-prosecutor">
    <div class="career-container">
        <h2>Карьера в прокуратуре</h2>
        <LineSVG />

        <span
            ><b>Внимание! Прочтите этот раздел от начала и до конца!</b> Невыполнение
            одного из пунктов требований к кандидату грозит отказом заявки без объяснения
            причин! Не следует писать руководству. В случае одобрения вашей кандидатуры
            - с Вами свяжутся прокуроры с Администрации Государственной прокуратуры
            для дальнейшего прохождения интервью. Если же с Вами не связались в течении
            24 часов с момента подачи заявки - Вам было отказано. Перепроверьте свое
            заявление. Обратите внимание на то, что перед подачей заявления Вам нужно
            ознакомится с уголовным кодексом, Конституцией, а так же законом "О прокуратуре";
            сотрудники Администрации прокуратуры могут спрашивать об этом во время
            прохождения интервью.</span
        >
        <p>
            Доброго времени суток, уважаемые жители штата Уинслоу! <br /> На данный
            момент каждый гражданин проживающий в штате 15 и более лет может спокойно
            подать заявление в ряды прокуратуры. Хорошая зарплата, слаженный коллектив,
            а так же большой объем знаний и практики, которые вы получите при обучении,
            помогут вам в дальнейшем развитии и карьерной лестнице. Работа в прокуратуре
            - это стабильный заработок, с большими премиями в конце недели за потраченое
            время, а также новый шаг к продвижению твоего статуса в штате. Борьба
            за правосудие, неприкосновенность, решение гражданских дел, работа с
            постановлениями и проверки гос. организаций - всё это ждёт Вас в прокуратуре.
            Вы справедливый человек, который любит делать все по правилам? Обвинять
            преступников по всей строгости Закона, следить за тем, чтобы организации
            не позорили свою честь? Вы хотели бы работать в такой уютной, прибыльной
            организации со строгой дисциплиной? Тогда вы по адресу! Не упустите свой
            шанс занять должность помощника прокурора. Возможно именно Вы - человек,
            предназначение которого вершить правосудие.
        </p>
        <b style="color: #162e51; font-size: 16px;">ТРЕБОВАНИЯ К КАНДИДАТАМ:</b>
        <ul>
            <li>
                Возраст Прокурора должен соответствовать статье 3.7 - 25 лет.
            </li>
            <li>Кандидат должен проживать в штате минимум 15 лет.</li>
            <li>Кандидат обязан быть законопослушным.</li>
            <li>
                Кандидат должен иметь лицензии на оружие, а также на управление
                автотранспортом
            </li>
            <li>Кандидат не должен быть в розыске или же иметь судимость.</li>
            <li>
                В медицинской карте иметь выписку что вы полностью здоров и не
                никаких других пометок.
            </li>
            <li>Не иметь наркозависимости.</li>
            <li>
                Должен иметь выписку из тира с хорошим показателем владения
                оружия «Desert Eagle». (Мастерство будет указано в процентах.)
            </li>
            <li>
                Кандидат обязан быть ознакомлен с законами Штата, конституцией,
                а также с правилами Прокуратуры.
            </li>
            <li>Все доказательства должны быть не старше недели.</li>
        </ul>
        <p>
            Мы вас заинтересовали? Тогда просим Вас оставить заявление в
            практикантуру - <a href="/jointoprosecutor">здесь</a>
        </p>
    </div>
</div>

<style lang="scss" is:global>
    @use "/src/assets/mixin" as mixins;

    .career-prosecutor {
        background: #f6f6f6;
    }

    .career-container {
        @include mixins.flipdisp;
        padding-bottom: 80px;

        span {
            display: block;
            margin-bottom: 7px;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.3;
            color: #162e51;
            font-style: italic;
            opacity: 0.8;
        }

        ul {
            margin: 7px 0;

            li {
                list-style: inside;
            }
        }

        p,
        ul {
            font-size: 15px;
            color: #111;
            font-weight: 300;
            line-height: 1.3;
        }

        p {
            margin-bottom: 7px;
            a {
                font-weight: bold;
                font-style: italic;

                &:hover {
                    color: #162e51;
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: 1050px) {
        .career-container {
            margin: 0 20px;
        }
    }
</style>
