---
import LineSVG from "../components/svg/LineSVG.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prosecutor | Criminal Code">
    <div class="criminal">
        <div class="criminal-container">
            <h2>Уголовный кодекс</h2>
            <LineSVG />
            <div class="struct-details">
                <div class="struct-text">
                    <details>
                        <summary>
                            Глава 1. Нанесение телесных повреждений.
                        </summary>
                        <p>
                            Статья 1. За нанесение телесных повреждений по
                            неосторожности, гражданин понесет наказание в виде
                            штрафа от пятисот тысяч до полутора миллионов
                            долларов США или внесение в уголовный розыск
                            первой(1) степени.
                        </p>
                        <p>
                            Статья 2. За умышленное нанесение телесных
                            повреждений гражданскому, гражданин понесет
                            наказание в виде объявления в уголовный розыск
                            второй(2) степени.
                        </p>
                        <p>
                            Статья 3. За нанесение телесных повреждений по
                            неосторожности государственному служащему при
                            исполнении, гражданин понесет наказание в виде
                            штрафа в размере от пятисот тысяч до двух миллионов
                            долларов США или объявления в уголовный розыск
                            третьей(3) степени.
                        </p>
                        <p>
                            Статья 4. За умышленное нанесение телесных
                            повреждений государственному служащему при
                            исполнении, гражданин понесет наказание в виде
                            объявления в уголовный розыск четвертой(4) степени.
                        </p>
                        <p>
                            Статья 5. За умышленное нанесение тяжких телесных
                            повреждений сотруднику Министерства Юстиции при
                            исполнении, гражданин понесет наказание в виде
                            объявления в уголовный розыск седьмой(7) степени и
                            изъятие лицензии на оружие.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 2. Вооруженное нападение.</summary>
                        <p>
                            Статья 1. За вооруженное нападение на гражданское
                            лицо, гражданин понесет наказание в виде занесения в
                            уголовный розыск пятой(5) степени.b
                        </p>
                        <p>
                            Статья 2. За вооруженное нападение на
                            государственного служащего при исполнении, гражданин
                            понесет наказание в виде внесения в уголовный розыск
                            шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 3. Разрушение целостности штата, его законов и
                            захват власти силовым путем.
                        </summary>
                        <p>
                            Статья 1. За попытку разрушения целостности штата,
                            гражданин или граждане будут объявлены в уголовный
                            розыск шестой(6) степени, отбираются все возможные
                            лицензии, занесение в Черный список Государственных
                            организаций навсегда.
                        </p>
                        <p>
                            Статья 2. За разрушение целостности штата, гражданин
                            или граждане будут объявлены в уголовный розыск
                            шестой(6) степени, отбираются все возможные
                            лицензии, занесение в Черный список Государственных
                            организаций навсегда.
                        </p>
                        <p>
                            Статья 3. За попытку захвата власти штата Уинслоу,
                            гражданин или граждане будут объявлены в уголовный
                            розыск шестой(6) степени, отбираются все возможные
                            лицензии, занесение в Черный список Государственных
                            организаций навсегда.
                        </p>
                        <p>
                            Статья 4. За захват власти штата Уинслоу, гражданин
                            или граждане будут объявлены в уголовный розыск
                            шестой(6) степени, отбираются все возможные
                            лицензии, занесение в Черный список Государственных
                            организаций навсегда.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 4. Соучастие в преступление.</summary>
                        <p>
                            Статья 1. За соучастие в преступление против
                            гражданина, гражданин понесет наказание в виде
                            объявления в уголовный розыск четвертой(4) степени и
                            изъятие лицензии на оружие, если соучастник был
                            вооружен огнестрельным оружием и применил его, в
                            остальных случаях лицензия не изымается.
                        </p>
                        <p>
                            Статья 2. За соучастие в преступлении против
                            государственного служащего, гражданин понесет
                            наказание в виде объявления в уголовный розыск
                            пятой(5) степени и изъятие лицензии на оружие, если
                            соучастник был вооружен огнестрельным оружием и
                            применил его, в остальных случаях лицензия не
                            изымается.
                        </p>
                        <p>
                            Статья 3. За соучастие в государственном перевороте
                            или его попытке, гражданин или граждане понесет(ут)
                            наказание в виде объявления в уголовный розыск
                            шестой степени(6) и изъятие лицензии на оружие и
                            полеты.
                        </p>
                        <p>
                            Статья 4. За соучастие в государственном перевороте
                            или его попытке, государственный служащий понесет
                            наказание в виде увольнение с Черным Списком
                            Государственных организаций, объявления в уголовный
                            розыск шестой степени(6) и изъятие всех лицензий.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 5. Ношение оружие. Нелегальное оружие.
                        </summary>
                        <p>
                            Статья 1. Созданное оружие, будет считаться
                            нелегальным и за это гражданин понесет наказание в
                            виде изъятие данного оружия и внесение в уголовный
                            розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За покупку нелегального оружия, гражданин
                            понесет наказание в виду изъятия оружия и занесение
                            в уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 3. За ношение огнестрельного оружия в
                            открытом виде, гражданин понесет наказание в виде
                            внесения в уголовный розыск второй(2) степени и
                            изъятие лицензии на оружие и изъятие самого оружия.
                        </p>
                        <p>
                            Статья 4. Созданное оружие, будет считаться
                            нелегальным и за его распространение, гражданин
                            понесет наказание в виде изъятие данного оружия,
                            внесение в уголовный розыск пятой(5) степени.
                        </p>
                        <p>
                            Статья 5. За ношение огнестрельного оружия в
                            открытом виде без наличия при себе лицензии на ее
                            использование, то есть лицензии на оружие, то
                            гражданин понесет наказание в виде внесения в
                            уголовный розыск пятой(5) степени и изъятие оружия.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 6. Нелегальная деятельность.</summary>
                        <p>
                            Статья 1. За употребление наркотических веществ
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск третьей(3) степени и изъятие
                            веществ.
                        </p>
                        <p>
                            Статья 2. За хранение наркотических веществ,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск пятой(5) степени и изъятие веществ.
                        </p>
                        <p>
                            Статья 3. За покупку наркотических веществ,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск пятой(5) степени и изъятие
                            наркотических веществ.
                        </p>
                        <p>
                            Статья 4. За продажу наркотических веществ,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени и изъятие
                            веществ.
                        </p>
                        <p>
                            Статья 5. За хранение отмычек от тюремной двери,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск четвертой(4) степени и изъятие
                            отмычек.
                        </p>
                        <p>
                            Статья 6. За покупку отмычек от тюремной двери,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск пятой(5) степени и изъятие отмычек.
                        </p>
                        <p>
                            Статья 7. За продажу отмычек от тюремной двери,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск пятой(5) степени и изъятие отмычек.
                        </p>
                        <p>
                            Статья 8. За посев галлюциногенных растений и их
                            семена, гражданин понесет наказание в виде занесения
                            в уголовный розыск третьей(3) степени и изъятие
                            семян.
                        </p>
                        <p>
                            Статья 9. За хранение галлюциногенных растений и их
                            семена, гражданин понесет наказание в виде занесения
                            в уголовный розыск третьей(3) степени и изъятие
                            семян.
                        </p>
                        <p>
                            Статья 10. За покупку галлюциногенных растений и их
                            семена, гражданин понесет наказание в виде занесения
                            в уголовный розыск четвертой(4) степени и изъятие
                            семян.
                        </p>
                        <p>
                            Статья 11. За продажу галлюциногенных растений и их
                            семена, гражданин понесет наказание в виде занесения
                            в уголовный розыск четвертой(4) степени и изъятие
                            семян.
                        </p>
                        <p>
                            Статья 12. За продажу поддельных документов(новые
                            документы), гражданин понесет наказания в виде
                            занесения в уголовный розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 7. Оскорбление и неадекватное поведение.
                        </summary>
                        <p>
                            Статья 1. За оскорбление или неадекватное поведение
                            в сторону гражданина, гражданин понесет наказание в
                            виде занесения в уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За оскорбление или неадекватное поведение
                            в сторону государственных служащих, гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 3. За оскорбление или неадекватное поведение
                            в сторону первых лиц штата Уинслоу, гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск пятой(5) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 8. Несанкционированный митинг.</summary>
                        <p>
                            Статья 1. За участие в несанкционированном митинге
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 2. За вооружённый несанкционированный митинг
                            граждане понесут наказание в виде занесения в
                            уголовный розыск шестой(6) степени, изъятие оружия и
                            лицензии на оружие. В случае сопротивления
                            митингующих открытие огня на поражение разрешается,
                            и гражданин не будет обвинен в уголовном деяние.
                        </p>
                        <p>
                            Статья 3. За возглавление несанкционированных
                            митингов/митинга гражданин понесет наказание в виде
                            занесения в уголовный розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 9. Угрозы.</summary>
                        <p>
                            Статья 1. За угрозы в любой форме в сторону
                            гражданина, гражданин понесет наказание в виде
                            занесения в уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За угрозы в любой форме в сторону
                            государственного служащего, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            третьей(3) степени.
                        </p>
                        <p>
                            Статья 3. За угрозы в любой форме на покушение на
                            жизнь и здоровье гражданина, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            пятой(5) степени.
                        </p>
                        <p>
                            Статья 4. За угрозы в любой форме на покушение жизни
                            и здоровью в сторону государственного служащего,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 10. Террористическая деятельность.
                        </summary>
                        <p>
                            Статья 1. За кражу или попытку кражи боеприпасов с
                            военных объектов, гражданин понесет наказание в виде
                            занесения в уголовный розыск пятой(5) степени.
                        </p>
                        <p>
                            Статья 2. За организацию или участие в теракте,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени, изъятие оружия и
                            лицензии на оружие.
                        </p>
                        <p>
                            Статья 3. За захват государственных учреждений,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени, изъятие оружия и
                            лицензии на оружие.
                        </p>
                        <p>
                            Статья 4. За взятие граждан в заложники или их
                            похищение, в дальнейшем взятие в заложники,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени.
                        </p>
                        <p>
                            Статья 5. За посягательство на свободу, принуждения
                            к чему либо-либо граждан или гражданина, гражданин
                            совершивший это понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 11. Государственная измена.</summary>
                        <p>
                            Статья 1. За нарушение статьей относящихся к
                            государственной измене Конституции штата Уинслоу,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени, изъятие всех
                            лицензий, занесен в Черный список Государственных
                            Организаций.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 12. Физические, моральные, психологические
                            увечья.
                        </summary>
                        <p>
                            Статья 1. За проституцию, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            третьей(3) степени.
                        </p>
                        <p>
                            Статья 2. За изнасилование, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            четвертой(4) степени.
                        </p>
                        <p>
                            Статья 3. За проституцию в состоянии алкогольного
                            опьянения гражданин понесет наказание в виде
                            занесения в уголовный розыск четвертой(4) степени.
                        </p>
                        <p>
                            Статья 4. За изнасилование в состояние алкогольного
                            опьянения, гражданин понесет наказание в виде
                            занесения в уголовный розыск пятой(5) степени.
                        </p>
                        <p>
                            Статья 5. За вовлечения занятием проституцией или
                            принуждение занятия проституцией, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 13. Вымогательство.</summary>
                        <p>
                            Статья 1. За вымогательство денежных средств
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск третьей(3) степени и все незаконно
                            полученные деньги будут возвращены пострадавшему.
                        </p>
                        <p>
                            Статья 2. За вымогательство в состояние алкогольного
                            опьянения гражданин понесет наказание в виде
                            занесения в уголовный розыск четвертой(4) степени и
                            все незаконно полученные деньги будут возвращены
                            владельцу.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 14. Помеха в работе государственных служащих.
                        </summary>
                        <p>
                            Статья 1. За подрезания на машине и попытку вывести
                            транспортное средство сотрудника государственной
                            организации, гражданин понесет наказание в виде
                            занесения в уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. Проникновение в служебный автомобиль, без
                            разрешения на это от сотрудника государственных
                            организаций, гражданин понесет наказание в виде
                            занесения в уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 3. За помеху и вмешательство в работе
                            государственных служащих гражданин понесет наказание
                            в виде занесения в уголовный розыск четвертой(4)
                            степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 15. Неподчинение сотрудникам государственных
                            служб.
                        </summary>
                        <p>
                            Статья 1. За игнорирование спец. сирен и не пропуск
                            патрульной машины, гражданин понесет наказание в
                            виде занесения в уголовный розыск третьей(3)
                            степени.
                        </p>
                        <p>
                            Статья 2. За попытку побега с места преступления,
                            гражданин понесет наказания в виде занесения в
                            уголовный розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 3. За неподчинение при просьбе остановится в
                            мегафон, гражданин понесет наказания в виде
                            занесения в уголовный розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 4. За отказ от предъявления документов
                            подтверждающих личность, гражданин понесет наказание
                            в виде занесения в уголовный розыск третьей(3)
                            степени.
                        </p>
                        <p>
                            Статья 5. За отказ или невозможность оплатить штраф,
                            гражданин понесет наказания в виде занесения
                            уголовный розыск четвертой(4) степени.
                        </p>
                        <p>
                            Статья 6. За неподчинение государственному
                            служащему, гражданин понесет наказание в виде
                            занесения в уголовный розыск четвертой(4) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 16. Судебная система. Прокуратура
                        </summary>
                        <p>
                            Статья 1. За действие в ходе которого гражданин
                            пишет ложное исковое заявление, то гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            второй(2) степени и автоматически проигрыш в
                            дальнейших судебных разбирательствах.
                        </p>
                        <p>
                            Статья 2. За попытку вызвать волнения в штате из-за
                            суда, имея при этом высокое положение в штате,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск третьей(3) степени и увольнение со
                            своей занимаемой должности.
                        </p>
                        <p>
                            Статья 3. За неподчинение сотруднику прокуратуры во
                            время прямых обязанностей прокуратуры, гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 4. За клевету в сторону прокурора/судьи или
                            лица проводящего дознание гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            третьей(3) степени.
                        </p>
                        <p>
                            Статья 5. За дачу ложных показаний суду или лицу
                            проводящего дознание гражданин понесет наказание в
                            виде занесения в уголовный розыск третьей(3)
                            степени.
                        </p>
                        <p>
                            Статья 6. За неявку на судебное заседание по
                            повестке от суда гражданин понесет наказание в виде
                            занесения в уголовный розыск пятой(5) степени.
                            (Искл: предупреждение, оповещение судьи)
                        </p>
                        <p>
                            Статья 7. За неисполнение судебного постановления
                            или постановления прокуратуры гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            пятой(5) степени.
                        </p>
                        <p>
                            Статья 8. За попытку избежания наказания гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск пятой(5) степени. (Прим: смена имени, пола)
                        </p>
                        <p>
                            Статья 9. За распространение заведомо ложной
                            информации от лица прокуратуры или суда, то прокурор
                            или судья понесет наказание в виде занесения в
                            уголовный розыск шестой(6) степени и увольнение с
                            занимаемой должности.
                        </p>
                        <p>
                            Статья 10. За срыв суда граждане понесут наказание в
                            виде занесения в уголовный розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 17. Проникновение на запрещенные или секретные
                            объекты.
                        </summary>
                        <p>
                            Статья 1. За проникновение на частную территорию
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За проникновение на территорию
                            Полицейского Департамента гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            третьей(3) степени. (Искл: Адвокаты у КПЗ)
                        </p>
                        <p>
                            Статья 3. За проникновение на территорию Военных
                            объектов или Тюрьмы Строгого Режима гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 4. За проникновение на территорию
                            Федерального Бюро Расследований, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            четвертой(4) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 18. Порча имущества.</summary>
                        <p>
                            Статья 1. За порчу частного имущества гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За порчу государственного имущества
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск третьей(3) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 19. Поддельные документы. Выдача себя за
                            другого гражданина.
                        </summary>
                        <p>
                            Статья 1. За выдачу себя за другого гражданина,
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск третьей(3) степени.
                        </p>
                        <p>
                            Статья 2. За подделывание документов удостоверяющие
                            вашу личность, гражданин понесет наказание в виде
                            занесения в уголовный розыск четвертой(4) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 20. Ограбление.</summary>
                        <p>
                            Статья 1. За кражу частного имущества, гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За ограбление гражданина, гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск четвертой(4) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 21. Угон транспорта.</summary>
                        <p>
                            Статья 1. За угон воздушного средства гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск шестой(6) степени.
                        </p>
                        <p>
                            Статья 2. За угон водного транспорт гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск шестой(6) степени.
                        </p>
                        <p>
                            Статья 3. За угон наземного транспорта гражданин
                            понесет наказание в виде занесения в уголовный
                            розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 22. Ложные вызовы.</summary>
                        <p>
                            Статья 1. За ложный вызов патрульной машины на
                            место, гражданин понесет наказание в виде занесения
                            в уголовный розыск второй(2) степени или штраф в
                            размере 100.000$.
                        </p>
                        <p>
                            Статья 2. За ложный вызов патрульной машины с
                            неадекватной причиной или места нахождения, то
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск четвертой(4) степени.
                        </p>
                        <p>
                            Статья 3. За ложное нажатие тревожной кнопки вызова
                            сотрудников МЮ, на организацию накладывается штраф в
                            размере 250.000$, за отказ в оплате штрафа,
                            руководство наказывается по главе пятнадцать(15),
                            статье пять(5).
                        </p>
                    </details>
                    <details>
                        <summary> Глава 23. Адвокатура.</summary>
                        <p>
                            Статья 1. За попытку выдвижения себя адвокатом
                            гражданин понесет наказание в виде занесения в
                            уголовный розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За выдвижение себя как адвокат на допросе
                            или иных разбирательствах в отношении гражданина
                            совершившего то или иное нарушение кодекса, устава и
                            т.п., гражданин будет объявлен в уголовный розыск
                            третьей(3) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 24. Коррупция.</summary>
                        <p>
                            Статья 1. За намеки на дачу взятки гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За попытку дачи взятки гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            третьей(3) степени.
                        </p>
                        <p>
                            Статья 3. За дачу взятки гражданин понесет наказание
                            в виде занесения в уголовный розыск пятой(5)
                            степени.
                        </p>
                        <p>
                            Статья 4. За получение взятки сотрудником гос.
                            организаций, сотрудник будет занесен в уголовный
                            розыск шестой(6) степени и уволен со своей
                            занимаемой должности.
                        </p>
                        <p>
                            Статья 5. За попытку подкупа или подкуп судьи,
                            прокурора гражданин понесет наказание в виде
                            занесения в уголовный розыск шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 25. Неприкосновенность.</summary>
                        <p>
                            Статья 1. За незаконное назначение и/или обладание
                            малой неприкосновенности, гражданин выдавший вам ее
                            понесет наказание в виде занесения в уголовный
                            розыск второй(2) степени.
                        </p>
                        <p>
                            Статья 2. За незаконное назначение и/или обладание
                            высокой неприкосновенности, гражданин выдавший вам
                            ее понесет наказание в виде занесения в уголовный
                            розыск четвертой(4) степени.
                        </p>
                        <p>
                            Статья 3. За незаконное назначение и/или обладание
                            абсолютной неприкосновенности, гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary>
                            Глава 26. Незаконная добыча ресурсов на шахте.
                        </summary>
                        <p>
                            Статья 1. За незаконную добычу камня на шахте, то
                            есть без специального разрешения, гражданин понесет
                            наказание в виде занесения в уголовный розыск от
                            первой(1) до шестой(6) степени.
                        </p>
                        <p>
                            Статья 2. За незаконную добычу льна и хлопка, то
                            есть без специального разрешения, гражданин понесет
                            наказания в виде занесения в уголовный розыск от
                            первой(1) до шестой(6) степени.
                        </p>
                    </details>
                    <details>
                        <summary> Глава 27. Незаконная документация.</summary>
                        <p>
                            Статья 1. За подделку любых официальных документов
                            таких как: доверенности, заявления, иски в суд,
                            предложение законопроекта и т.д., гражданин понесет
                            наказание в виде занесения в уголовный розыск
                            четвертой(4) степени.
                        </p>
                    </details>
                </div>
            </div>
            <h2>Административно-дорожный кодекс</h2>
            <LineSVG />
            <div class="struct-details">
                <div class="struct-text">
                    <details >
                        <summary>
                            Глава 1 - Нарушение общественного порядка
                        </summary>
                        <p>
                            1.1. Использование нецензурной лексики в
                            общественном месте, гражданскому, проживающему в
                            Штате Winslow до 10 лет, сотрудник полиции имеет
                            право выписать штраф в размере 25.000$;
                        </p>
                        <p>
                            1.1.2. Использование нецензурной лексики в
                            общественном месте, гражданскому, проживающему в
                            Штате Winslow более 10 лет, сотрудник полиции имеет
                            право выписать штраф в размере 30.000$;
                        </p>
                        <p>
                            1.2. За курение в общественных местах, сотрудник
                            полиции имеет право выписать штраф в размере
                            25.000$;
                        </p>
                        <p>
                            1.3. За распивание спиртных напитков в общественных
                            местах, сотрудник полиции имеет право выписать штраф
                            в размере 15.000$;
                        </p>
                        <p>
                            1.4. За пребывание в алкогольном опьянении (0.3
                            промилле) в общественном месте, сотрудник МЮ в праве
                            выписать штраф в размере 30.000$;
                        </p>
                        <p>
                            1.5. За громкие крики или музыку в общественных
                            местах в ночное время суток (с 23:00 до 07:00),
                            сотрудник полиции имеет право выписать штраф в
                            размере 30.000$ [Исключение: Центральный Рынок];
                        </p>
                        <p>
                            1.6. За розжиг костра в общественных местах,
                            сотрудник полиции имеет право выписать штраф в
                            размере 50.000$;
                        </p>
                        <p>
                            1.7. За ношение маски или других предметов для
                            намеренного сокрытия личности в общественных местах,
                            кроме медицинских масок, сотрудник полиции имеет
                            право выписать штраф в размере 30.000$;
                        </p>
                        <p>
                            1.8. За расположение/установку газетных киосков и
                            торговых лавок в местах, создающих помеху в движении
                            граждан и транспортного средства, сотрудник полиции
                            имеет право выписать штраф в размере от 30.000 до
                            40.000$;
                        </p>
                        <p>
                            1.9. За порчу государственного имущества, сотрудник
                            полиции имеет право выписать штраф в размере
                            50.000$, либо задержать гражданина по статье 5.1 УК;
                        </p>
                        <p>
                            1.10. За порчу личного имущества, сотрудник полиции
                            имеет право выписать штраф в размере 45.000$, либо
                            задержать гражданина по статье 5.2 УК;
                        </p>
                        <p>
                            1.11. За ложный вызов сотрудников полиции или
                            мед.работников, сотрудник имеет право выписать штраф
                            в размере 100.000$, либо объявить в розыск по статье
                            8.1 УК;
                        </p>
                        <p>
                            1.12. За ложное активирование тревожной кнопки
                            представителями государственных органов Штата
                            Winslow, сотрудник полиции имеет выписать штраф
                            действующему руководителю организации, либо его
                            ответственному заместителю в размере 250.000$.
                        </p>
                    </details>
                    <details >
                        <summary>
                            Глава 2 - Парковка и движение транспортного средства
                            в неположенном месте.
                        </summary>
                        <p>
                            2.1. За парковку в неположенном месте, сотрудник
                            полиции имеет право выписать штраф в размере
                            35.000$;
                        </p>
                        <p>
                            2.2. За брошенный автомобиль/парковку в неположенном
                            месте, сотрудник полиции имеет право отбуксировать
                            автомобиль на штрафстоянку, штраф составляет 10% от
                            стоимости автомобиля;
                        </p>
                        <p>
                            2.3. За движение по тротуарам, велосипедным и
                            пешеходным дорожках, сотрудник полиции имеет право
                            выписать штраф в размере 35.000$;
                        </p>
                        <p>
                            2.4. За движение по обочине, сотрудник полиции имеет
                            право выписать штраф в размере 35.000$;
                        </p>
                        <p>
                            2.5. За езду по железнодорожным путям сотрудник
                            полиции вправе выписать штраф в размере 35.000$;
                        </p>
                        <p>
                            2.6. За езду по полям, газонам, сотрудник полиции
                            имеет право выписать штраф в размере 35.000$;
                        </p>
                    </details>
                    <details >
                        <summary>
                            Глава 3 - Езда на транспортном средстве.
                        </summary>
                        <p>
                            3.1. За езду по встречной полосе, сотрудник полиции
                            имеет право выписать штраф 45.000$; Примечание: В
                            штате Винслоу правостороннее движение.
                        </p>
                        <p>
                            3.2. За езду на транспорте с заводскими номерными
                            знаками "Arizona ST", сотрудник полиции имеет право
                            изъять права на вождение, либо выписать штраф в
                            размере 30.000$ и отбуксировать транспортное
                            средство на штрафстоянку;
                        </p>
                        <p>
                            3.3. За езду в ночное время суток ( с 21:00 до
                            07:00) с выключенными фарами, сотрудник полиции
                            имеет право выписать штраф 35.000$;
                        </p>
                        <p>
                            3.4. За езду на неисправном(дымящемся) транспортном
                            средстве, сотрудник полиции имеет право выписать
                            штраф в размере 40.000$ и отбуксировать транспортное
                            средство на штрафстоянку;
                        </p>
                        <p>
                            3.5. За использование мобильных телефонов за рулем,
                            во время движение трансопртного средства, сотрудник
                            полиции имеет право выписать штраф 30.000$;
                        </p>
                        <p>
                            3.6. За управление транспортным средством в
                            состоянии алкогольного/наркотического опьянения (0.3
                            промилле), сотрудник полиции имеет право выписать
                            штраф в размере 50.000$;
                        </p>
                    </details>
                    <details >
                        <summary> Глава 4 - Затруднение движения.</summary>
                        <p>
                            4.1. За затруднение движения на проезжих частях,
                            сотрудник полиции имеет право выписать штраф в
                            размере от 30.000 до 40.000$;
                        </p>
                        <p>
                            4.2. За затруднение движения на проезжих частях,
                            вследствие чего произошло ДТП, сотрудник полиции
                            имеет право выписать штраф в размере 50.000$ +
                            изъять права на вождение. Нарушитель также обязан
                            выплатить моральный ущерб пострадавшему.
                        </p>
                        <p>
                            4.3 За помеху в конвое министерства здравоохранения,
                            министерства обороны, министерства юстиции,
                            сотрудник полиции вправе выписать штраф в размере
                            50.000$, а также лишить водительского удостоверение
                            на свое усмотрение.
                        </p>
                    </details>
                    <details >
                        <summary> Глава 5 - Для пешеходов</summary>
                        <p>
                            5.1. За передвижение по проезжей части дороги,
                            сотрудник полиции имеет право выписать штраф в
                            размере 30.000$;
                        </p>
                    </details>
                    <details >
                        <summary> Глава 6 - Специальные сигналы</summary>
                        <p>
                            6.1. Водители транспортного средства с включенной
                            сиреной, с маячками красного и синего цвета,с
                            опознавательными знаками могут отступать от
                            требований административного кодекса, при условии
                            нанесения минимального урона окружению. При
                            нарушении, сотрудник полиции имеет право выписать
                            штраф в размере 50.000$;
                        </p>
                        <p>
                            6.2. При использование спец. сигналов в личных
                            целях, сотрудник полиции имеет право выписать штраф
                            в размере 50.000$;
                        </p>
                        <p>
                            6.3. За игнорирование сирены спец.транспорта,
                            сотрудник полиции имеет право выписать штраф в
                            размере 50.000$, с более серьёзных случаях изъять
                            права на вождение;
                        </p>
                    </details>
                    <details >
                        <summary> Глава 7 - Воздушный транспорт.</summary>
                        <p>
                            7.1 - За парковку воздушных транспортных средств на
                            проезжей части, либо создание помехи движению
                            сотрудник полиции вправе выписать штраф в размере
                            50.000-150.000$;
                        </p>
                        <p>
                            7.2 - За несоблюдение минимальной высоты полета
                            (мин.высота 50-100м.) сотрудник полиции вправе
                            выписать штраф в размере 100.000-150.000$;
                        </p>
                        <p>
                            7.3 - За полет в запрещенных зон регламентированы
                            данным пунктом штраф 50.000 - 150.000$. Примечания:
                            Запрещенные зоны для полетов: Военные базы ЛСа,СФа,
                            Тюрьма Строгого Режима, Дом правительства,
                            Центральный Рынок, Центральный Банк, офис ФБР и т.д
                            законами запретных зон.
                        </p>
                        <p>
                            7.4 - За управление воздушным средством в состоянии
                            алкогольного/ наркотического опьянения (0.3
                            промилле), сотрудник полиции имеет право выписать
                            штраф в размере 50.000$.
                        </p>
                        <p>
                            7.5 - За создание помехи сотрудникам
                            гос.организаций, в работе офицер полиции имеет право
                            выписать штраф в размере 50.000 - 150.000$.
                        </p>
                        <p>
                            7.6 - За выполнение опасных маневров на воздушном
                            транспорте, сотрудник полиции имеет право выписать
                            штраф в размере 50.000-100.000$;
                        </p>
                        <p>
                            7.7 - Создание ситуаций угрожающих безопасности
                            полета, а также жизни (здоровью) граждан Штата,
                            сотрудник полиции имеет право выписать штраф в
                            размере 100.000 - 200.000$;
                        </p>
                    </details>
                </div>
            </div>
        </div>
    </div>

    <style lang="scss" is:global>
        @use "/src/assets/mixin" as mixins;

        .criminal {
            background: #ecf1f7;
        }

        .criminal-container {
            @include mixins.flipdisp;
        }

        .struct-details {
            background: #ecf1f7;
            padding-bottom: 70px;
        }

        .struct-text {
            & h2 {
                text-align: start;
            }

            & details {
                cursor: pointer;
                margin-bottom: 8px;
                padding: 1.5rem 0;
                list-style-type: none;

                &:not(:last-child) {
                    border-bottom: #162e51 solid 0.1px;
                }

                & summary {
                    color: #162e51;
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }

                & p {
                    color: #111;
                    line-height: 1.25;
                }
            }
        }
    </style>
</Layout>
