---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import Missions from "../components/Home/Missions/Missions.astro";
import OurWork from "../components/Home/OurWork.astro";
---

<Layout title="Prosecutor | Home page">
    <section>
        <Hero />
    </section>
    <section>
        <Missions />
    </section>
    <section>
        <OurWork />
    </section>
</Layout>

<style lang="scss"></style>
