---
import LineSVG from "../components/svg/LineSVG.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prosecutor | Labor Code">
    <div class="labor">
        <div class="labor-container">
            <h2>Трудовой кодекс</h2>
            <LineSVG />
            <div class="struct-details">
                <div class="struct-text">
                    <details>
                        <summary>Глава 1. Общие положения</summary>
                        <p>
                            1.1 Трудовой Кодекс определяет трудовые отношения
                            между работниками и работодателями и имеет
                            приоритетное значение перед другими принятыми
                            законами Устав, регламенты и т.д., связанными с
                            трудовыми отношениями. Искл: Конституции штата
                            Winslow.
                        </p>
                        <p>
                            1.2 Трудовой Кодекс может быть отредактирован,
                            только после того как большинство конгрессменов
                            конгресса проголосуют "за" принятие изменений в нём.
                        </p>
                        <p>
                            1.3 Трудовому Кодексу подчиняются беспрекословно
                            работник и работодатель.
                        </p>
                        <p>
                            1.4 Трудовой Кодекс начинает действовать с первого
                            дня, как его официально оформили на портале штата
                            Winslow.
                        </p>
                        <p>
                            1.5 За незнание или несоблюдение Трудового Кодекса
                            работодателем или работником, могут действовать
                            дисциплинарное взыскание в виде выговора, понижения,
                            увольнение, занесение в Черный Список
                            Гос.организаций или же Министерства.
                        </p>
                        <p>
                            1.5.1 За многократное нарушение Трудового Кодекса.
                        </p>
                        <p>
                            1.6 Трудовые отношения между работником и
                            работодателем прописаны в Этическом Кодексе.
                        </p>
                    </details>
                    <details>
                        <summary>Глава 2. Обязанности работодателя</summary>
                        <p>
                            2.1 Работодатель обязан обеспечить сотрудникам его
                            организации приемлемые условия для труда.
                        </p>
                        <p>
                            2.2 Работодатель обязан оплачивать труд сотрудника.
                        </p>
                        <p>
                            2.3 Работодатель обязан соблюдать закон и иные
                            правовые акты штата.
                        </p>
                        <p>
                            2.4 Работодатель обязан относится ко всем
                            сотрудникам одинаково.
                        </p>
                        <p>
                            2.5 Работодатель обязан обеспечить
                            беспрепятственность сотруднику в карьерном росте.
                        </p>
                        <p>
                            2.6 Работодатель обязан следить за своей
                            организацией и качеством выполняемых работ.
                        </p>
                        <p>
                            2.7 Работодатель обязан рассматривать жалобы от
                            сотрудников.
                        </p>
                        <p>
                            2.8 Работодатель обязан предоставить видеофиксацию
                            дисциплинарного нарушения сотрудника по первому
                            требованию работника или суда. На видеофиксаций,
                            должен быть виден бейджик работника и в записи
                            должно отображаться время.
                        </p>
                        <p>
                            2.9 Работодатель обязан нести ответственность за
                            работу своей организации, так же несёт не
                            полноценную ответственность за работников зависимо
                            от ситуаций.
                        </p>
                        <p>
                            2.10 Работодатель обязан предоставлять сотруднику
                            отпуск.
                        </p>
                        <p>
                            2.11 Работодатель обязан своевременное выполнение
                            работы на оф.портале штата.
                        </p>
                        <p>
                            2.12 Работодатель обязан выдать дис.выговор
                            работнику за нарушение Трудового Кодекса или Устава
                            организаций/министерства.
                        </p>
                        <p>
                            2.13 Работодатель обязан проводить беседу с
                            работником при получение каждого дис.выговора.
                        </p>
                        <p>
                            2.14 Работодатель обязан выдать задание для снятие
                            дис.выговора.
                        </p>
                    </details>
                    <details>
                        <summary>Главу 3. Права работодателя</summary>
                        <p>
                            3.1 Работодатель имеет право применить
                            дисциплинарное взыскание ввиду нарушения сотрудником
                            трудового кодекса или устава
                            организации/министерства.
                        </p>
                        <p>
                            3.2 Работодатель имеет право приостановить повышение
                            сотрудника, если сотрудник выполняет свои
                            обязанности ненадлежащим образом. ( Выговоры )
                        </p>
                        <p>
                            3.3 Работодатель имеет право на развитие своей
                            организации.
                        </p>
                        <p>
                            3.4 Работодатель имеет право требовать, через суд
                            выплаты за неустойку.
                        </p>
                        <p>
                            3.5 Работодатель имеет право отказать в отпуске,
                            если не прошёл срок 15 дней после последнего
                            отпуска. Остальные отказы являются незаконными.
                        </p>
                        <p>
                            3.6 Работодатель имеет право уволить сотрудник за
                            Грубое Нарушение Устава организаций/министерства
                            (Г.Н.У) или Грубое Нарушение Трудового Кодекса
                            (Г.Н.ТК).
                        </p>
                    </details>
                    <details>
                        <summary>Глава 4. Обязанности сотрудника</summary>
                        <p>
                            4.1 Сотрудник обязан знать и соблюдать конституцию,
                            трудовой кодекс, содержимое внутри организационного
                            регламентирующего документов и других
                            нормативно-правовых актов.
                        </p>
                        <p>
                            4.2 Сотрудник обязан подчинятся любым законным
                            требованиям работодателя.
                        </p>
                        <p>
                            4.3 Сотрудник, который устроился в организацию с
                            помощью электронного заявления, обязан проработать в
                            данной организации пять дней, в ином случае на
                            сотрудника будут наложены штрафные санкции, через
                            суд.
                        </p>
                        <p>
                            4.4 При взятие отпуска сотрудник обязан
                            заблаговременно оставить заявление на отпуск за 24
                            часа до отпуска.
                        </p>
                        <p>
                            4.5 Сотрудник обязан обращаться по служебным
                            вопросам к своему непосредственному руководителю, а
                            при необходимости и к прямому руководителю (
                            Министр, Губернатор ).
                        </p>
                        <p>
                            4.6 Сотрудник обязан качество выполнять свою работу.
                        </p>
                        <p>
                            4.7 Сотрудник обязан знать и соблюдать свои
                            должностные регламенты.
                        </p>
                    </details>
                    <details>
                        <summary>Глава 5. Права сотрудников</summary>
                        <p>
                            5.1 Сотрудник имеет право на заработную плату и
                            премии.
                        </p>
                        <p>
                            5.2 Сотрудник имеет право на обеденный перерыв не
                            более двух часов в сутки.
                        </p>
                        <p>5.3 Сотрудник имеет право на отпуск.</p>
                        <p>5.4 Сотрудник имеет право голоса.</p>
                        <p>
                            5.5 Сотрудник имеет право на подачу жалобы в
                            государственные инстанции.
                        </p>
                        <p>
                            5.6 Сотрудник имеет право подать иск в судебную
                            систему за нарушение его прав.
                        </p>
                        <p>
                            5.7 Сотрудник имеет право на повышение только по
                            общей кадровой системе.
                        </p>
                        <p>
                            5.8 Сотрудник имеет право требовать возмещения
                            моральной компенсации через судебную систему. В
                            зависимости от почасовой зарплаты. Не более 10-ти
                            почасовых оплат!
                        </p>
                        <p>
                            5.9 Сотрудник имеет право на улучшение своего
                            рабочего пространства.
                        </p>
                        <p>
                            5.10 Сотрудник имеет право на увольнение по
                            собственному желанию.
                        </p>
                        <p>
                            5.10.1 При увольнении сотрудник обязан предупредить
                            руководителя.
                        </p>
                        <p>
                            5.11 Сотрудник имеет право запросить видеофиксацию
                            своего дисц.нарушения.
                        </p>
                    </details>
                    <details>
                        <summary>Главу 6. Отпуск сотрудников</summary>
                        <p>
                            6.1 Сотрудники младшего состава организации имеют
                            право взять отпуск не более чем на [Два] 2
                            календарных дня.
                        </p>
                        <p>
                            6.2 Сотрудники Старшего Состава организации имеют
                            право взять отпуск не более чем на [Пять] 5
                            календарных дней.
                        </p>
                        <p>
                            6.3 После окончания отпуска следующий отпуск можно
                            взять не ранее, чем пройдет 15 рабочих дней после
                            последнего отпуска.
                        </p>
                        <p>
                            6.4 При исключительных ситуациях работодатель может
                            одобрить вам отпуск более 5-ти дней.
                        </p>
                        <p>
                            6.5 Находясь в отпуске работодатель может
                            потребовать от вас выйти на работу в связи с
                            экстренной ситуацией в штате.
                        </p>
                        <p>
                            6.5.1 Если вы не выйдете на работу, после того как
                            работодатель связался с вами и был проведен диалог.
                            Работодатель может выдать дисциплинарное
                            высказывание в зависимости от ситуации.
                        </p>
                        <p>
                            6.7 Находясь в отпуске вам запрещено носить форму.
                            Исключение пункт 6.5.
                        </p>
                        <p>
                            6.8 Находясь в отпуске вам запрещено нарушать
                            Уголовный Кодекс.
                        </p>
                        <p>
                            6.9 Если вы попадете в тюрьму вы будете уволены с
                            государственной структуры.
                        </p>
                        <p>
                            6.10 При нахождении в отпуске, сотрудник не
                            подчиняется уставу организации. Исключение: Законы
                            штата Уинслоу и пункта 6.5.
                        </p>
                    </details>
                    <details>
                        <summary
                            >Глава 7. Увольнение/отстранение от должности</summary
                        >
                        <p>
                            7.1 Уволить работника с организации может
                            руководитель организации за нарушение Устава
                            организации/Министерства или Трудового Кодекса.
                        </p>
                        <p>
                            7.2 Отстранить от должности работника может
                            Губернатор штата Winslow, Министр за закрепленной
                            организацией, Агент ФБР путём заведения дела и
                            оформление заявки в суд и сотрудник Прокуратуры
                            путем указа и оформления заявки в суд.
                        </p>
                        <p>
                            7.2.1. Перед увольнением или отстранением работника
                            в обязательном порядке работника должны упомянуть,
                            что данное решение он имеет право оспорить через суд
                            штат Winslow.
                        </p>
                        <p>
                            7.3 Увольнение/Отстранение от должности руководителя
                            организации может Конгресс штата путем общего
                            голосования Конгрессменов, Губернатор штата, по
                            решению Верховного Суда.
                        </p>
                        <p>
                            7.4 При увольнение/отстранении от должности должны
                            быть видеофиксации нарушения ,на видео в
                            обязательном порядке должен факт нарушения, бейджик
                            работника или руководителя, а также указано время.
                        </p>
                        <p>
                            7.4.1 Видеофиксация должна храниться 5 дней, с
                            выдачи наказания/увольнения.
                        </p>
                    </details>
                    <details>
                        <summary>Глава 8. Дисциплинарные взыскания</summary>
                        <p>
                            8.1 Дисциплинарное взыскание по отношению к
                            работнику имеет право выдать руководитель
                            организации, либо кабинет губернатора штата.
                        </p>
                        <p>
                            8.2 К дисциплинарным высказываниям входит: беседа,
                            выговор, понижение, увольнение, временное
                            отстранение от должности, черный список
                            организации/министерства.
                        </p>
                        <p>
                            8.3 Право на внесение работника в Черный Список
                            организации/министерства остается за руководством,
                            постановлением суда или прокуратуры, кабинетом
                            губернатора штата.
                        </p>
                    </details>
                    <details>
                        <summary>Глава 9. Рабочий день</summary>
                        <p>
                            9.1 В будние дни начинается в 10:00 и заканчивается
                            в 20:00.
                        </p>
                        <p>
                            9.2 В выходные дни начинается в 11:00 и
                            заканчивается в 19:00.
                        </p>
                        <p>
                            9.3 Рабочий день может быть прерван только на
                            обеденный перерыв.
                        </p>
                        <p>9.3.1 Первый обеденный перерыв: с 12:00 до 13:00.</p>
                        <p>9.3.2 Второй обеденный перерыв: 16:00-17:00.</p>
                        <p>
                            9.4 Ночная смена начинается по будням с 21:00 по
                            09:00, в выходные дни с 20:00 до 10:00.
                        </p>
                        <p>
                            9.4.1 Подготовка к ночной смене с 20:00 до 21:00 в
                            будние дни, с 19:00 до 20:00 в выходные дни, в это
                            время сотрудники могут отдохнуть.
                        </p>
                        <p>
                            9.4.2 Подготовка к дневной смене 9:00 до 10:00 в
                            будние дни, с 10:00 до 11:00 в выходные дни, в это
                            время сотрудники могут отдохнуть.
                        </p>
                        <p>
                            9.4.3 В ночную смену работник сам решает: выходить
                            на неё или нет.
                        </p>
                        <p>
                            9.5 Сотрудник может получить дополнительную премию
                            за нахождении на работе в ночное время.
                        </p>
                    </details>
                </div>
            </div>
        </div>

        <style lang="scss" is:global>
            .labor {
                background: #ecf1f7;
            }
        </style>
    </div>
</Layout>
