---
import LineSVG from "../components/svg/LineSVG.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prosecutor | Law on the Prosecutor's Office">
    <div class="law">
        <div class="law-container">
            <h2>Закон "О прокуратуре"</h2>
            <LineSVG />
            <div class="struct-details">
                <div class="struct-text">
                    <details open>
                        <summary>Раздел I. ОБЩИЕ ПОЛОЖЕНИЯ</summary>
                        <summary>Статья 1. Прокуратура штата Уинслоу</summary>
                        <p>
                            Прокуратура штата Уинслоу единая федеральная
                            централизованная система органов, осуществляющих
                            надзор за соблюдением Конституции штата Уинслоу и
                            исполнением законов, надзор за соблюдением прав и
                            свобод человека и гражданина, уголовное
                            преследование в соответствии со своими полномочиями,
                            а также выполняющих иные функции.
                        </p>

                        <summary>Статья 2. Международное сотрудничество</summary
                        >
                        <p>
                            Государственная прокуратура штата Уинслоу в пределах
                            своей компетенции осуществляет прямые связи с
                            соответствующими органами других государств и
                            международными организациями, сотрудничает с ними,
                            заключает соглашения по вопросам правовой помощи и
                            борьбы с преступностью, участвует в разработке
                            международных договоров штата Уинслоу.
                        </p>

                        <summary
                            >Статья 3. Правовые основы деятельности прокуратуры
                            штата Уинслоу</summary
                        >
                        <p>
                            Полномочия и функции прокуратуры штата Уинслоу, ее
                            организация и порядок деятельности определяются
                            Конституцией штата Уинслоу, настоящим Федеральным
                            законом и другими федеральными законами.
                            Деятельность прокуратуры штата Уинслоу
                            осуществляется также в соответствии с международными
                            договорами штата Уинслоу. Решения межгосударственных
                            органов, принятые на основании положений
                            международных договоров штата Уинслоу в их
                            истолковании, противоречащем Конституции штата
                            Уинслоу, не подлежат исполнению в штата Уинслоу.
                        </p>

                        <summary
                            >Статья 4. Принципы организации и деятельности
                            прокуратуры штата Уинслоу</summary
                        >
                        <p>
                            1. Прокуратура штата Уинслоу составляет единую
                            федеральную централизованную систему органов (далее
                            - органы прокуратуры) и организаций и действует на
                            основе подчинения нижестоящих прокуроров вышестоящим
                            и Генеральному прокурору штата Уинслоу. <br /> 2. Органы
                            прокуратуры: осуществляют полномочия независимо от федеральных
                            органов государственной власти, органов государственной
                            власти субъектов штата Уинслоу, органов местного самоуправления,
                            общественных объединений и в строгом соответствии с действующими
                            на территории штата Уинслоу законами; действуют гласно
                            в той мере, в какой это не противоречит требованиям законодательства
                            штата Уинслоу об охране прав и свобод граждан, а также
                            законодательства штата Уинслоу о государственной и иной
                            специально охраняемой законом тайне; информируют федеральные
                            органы государственной власти, органы государственной
                            власти субъектов штата Уинслоу, органы местного самоуправления,
                            а также население о состоянии законности.
                        </p>

                        <summary
                            >Статья 5. Недопустимость вмешательства в
                            осуществление прокурорского надзора</summary
                        >
                        <p>
                            1. Воздействие в какой-либо форме федеральных
                            органов государственной власти, органов
                            государственной власти субъектов штата Уинслоу,
                            органов местного самоуправления, общественных
                            объединений, средств массовой информации, их
                            представителей, а также должностных лиц на прокурора
                            с целью повлиять на принимаемое им решение или
                            воспрепятствование в какой-либо форме его
                            деятельности влечет за собой установленную законом
                            ответственность. <br /> 2. Прокурор не обязан давать
                            каких-либо объяснений по существу находящихся в его производстве
                            дел и материалов, а также предоставлять их кому бы то
                            ни было для ознакомления иначе как в случаях и порядке,
                            предусмотренных пунктом 4 настоящей статьи. <br /> 3.
                            Никто не вправе без разрешения прокурора разглашать материалы
                            проверок, проводимых органами прокуратуры, до их завершения.
                            <br /> 4. Ознакомление гражданина с материалами проверки
                            осуществляется по решению прокурора, в производстве которого
                            находятся соответствующие материалы, либо вышестоящего
                            прокурора, принятому по результатам рассмотрения обращения
                            гражданина, если материалы непосредственно затрагивают
                            его права и свободы. Не могут быть предоставлены гражданину
                            для ознакомления документы, имеющиеся в материалах проверки
                            и содержащие сведения, составляющие государственную или
                            иную охраняемую законом тайну. Решение об ознакомлении
                            гражданина с материалами проверки либо мотивированное
                            решение об отказе в ознакомлении с материалами проверки
                            принимается в десятидневный срок со дня подачи обращения
                            гражд В случае принятия решения об отказе в ознакомлении
                            с материалами проверки гражданину разъясняется право
                            обжаловать принятое решение вышестоящему прокурору и
                            (или) в суд.
                        </p>

                        <summary
                            >Статья 6. Обязательность исполнения требований
                            прокурора</summary
                        >
                        <p>
                            Требования прокурора, вытекающие из его полномочий,
                            перечисленных в статьях настоящего Федерального
                            закона, подлежат безусловному исполнению в
                            установленный срок.
                        </p>

                        <summary
                            >Статья 7. Участие в правотворческой деятельности</summary
                        >
                        <p>
                            Прокурор при установлении в ходе осуществления своих
                            полномочий необходимости совершенствования
                            действующих нормативных правовых актов вправе
                            вносить в законодательные органы и органы,
                            обладающие правом законодательной инициативы,
                            соответствующего и нижестоящего уровней предложения
                            об изменении, о дополнении, об отмене или о принятии
                            законов и иных нормативных правовых актов.
                        </p>

                        <summary
                            >Статья 8. Рассмотрение и разрешение в органах
                            прокуратуры заявлений, жалоб и иных обращений</summary
                        >
                        <p>
                            1. В органах прокуратуры в соответствии с их
                            полномочиями разрешаются заявления, жалобы и иные
                            обращения, содержащие сведения о нарушении законов.
                            Решение, принятое прокурором, не препятствует
                            обращению лица за защитой своих прав в суд. Решение
                            по жалобе на приговор, решение, определение и
                            постановление суда может быть обжаловано только
                            вышестоящему прокурору. <br /> 2. Поступающие в органы
                            прокуратуры заявления и жалобы, иные обращения рассматриваются
                            в порядке и сроки, которые установлены федеральным законодательством.
                            <br /> 3. Ответ на заявление, жалобу и иное обращение
                            должен быть мотивированным. Если в удовлетворении заявления
                            или жалобы отказано, заявителю должны быть разъяснены
                            порядок обжалования принятого решения, а также право
                            обращения в суд, если таковое предусмотрено законом.
                            <br />
                            4. Прокурор в установленном законом порядке принимает
                            меры по привлечению к ответственности лиц, совершивших
                            правонарушения. <br /> 5. Запрещается пересылка жалобы
                            в орган или должностному лицу, решения либо действия
                            которых обжалуются.
                        </p>
                    </details>

                    <details open>
                        <summary
                            >Раздел II. СИСТЕМА И ОРГАНИЗАЦИЯ ПРОКУРАТУРЫ</summary
                        >
                        <summary
                            >Статья 9. Система прокуратуры штата Уинслоу</summary
                        >
                        <p>
                            Систему прокуратуры штата Уинслоу составляют
                            Генеральная прокуратура штата Уинслоу, прокуратуры
                            субъектов штата Уинслоу, приравненные к ним военные
                            и другие специализированные прокуратуры, научные и
                            образовательные организации, редакции печатных
                            изданий, являющиеся юридическими лицами, а также
                            прокуратуры городов и районов, другие
                            территориальные, военные и иные специализированные
                            прокуратуры. Генеральная прокуратура штата Уинслоу
                            осуществляет полномочия и функции учредителя в
                            отношении подведомственных ей организаций, в том
                            числе санаторно-курортных и оздоровительных
                            организаций.
                        </p>

                        <summary
                            >Статья 10. Назначение на должность и освобождение
                            от должности Генерального прокурора штата Уинслоу</summary
                        >
                        <p>
                            1. Генеральный прокурор штата Уинслоу назначается на
                            должность Губернатором штата Уинслоу, с одобрения
                            Сената. <br /> 2. Генеральный прокурор штата Уинслоу
                            освобождается от должности Губернатором штата Уинслоу,
                            с одобрения Сената.
                        </p>

                        <summary
                            >Статья 11. Полномочия Генерального прокурора штата
                            Уинслоу по руководству системой прокуратуры штата
                            Уинслоу</summary
                        >
                        <p>
                            1. Генеральный прокурор штата Уинслоу руководит
                            системой прокуратуры штата Уинслоу, издает
                            обязательные для исполнения всеми работниками
                            органов и организаций прокуратуры приказы, указания,
                            распоряжения, положения и инструкции, регулирующие
                            вопросы организации деятельности системы прокуратуры
                            штата Уинслоу и порядок реализации мер материального
                            и социального обеспечения указанных работников. <br
                            /> 2. Генеральный прокурор штата Уинслоу в пределах выделенной
                            штатной численности и фонда оплаты труда устанавливает
                            штаты и структуру Генеральной прокуратуры штата Уинслоу,
                            определяет полномочия структурных подразделений, устанавливает
                            штатную численность и структуру подчиненных органов и
                            организаций прокуратуры. <br /> 3. Генеральный прокурор
                            штата Уинслоу несет ответственность за выполнение задач,
                            возложенных на органы прокуратуры настоящим Федеральным
                            законом.
                        </p>

                        <summary
                            >Статья 12. Полномочия прокуроров субъектов штата
                            Уинслоу, приравненных к ним прокуроров по
                            руководству подчиненными органами прокуратуры</summary
                        >
                        <p>
                            Прокуроры субъектов штата Уинслоу, приравненные к
                            ним прокуроры руководят деятельностью прокуратур
                            городов и районов, иных приравненных к ним
                            прокуратур на основе законов, действующих на
                            территории штата Уинслоу, и нормативных актов
                            Генерального прокурора штата Уинслоу, издают
                            приказы, указания, распоряжения, обязательные для
                            исполнения всеми подчиненными работниками, могут
                            вносить изменения в штатные расписания своих
                            аппаратов и подчиненных прокуратур в пределах
                            численности и фонда оплаты труда, установленных
                            Генеральным прокурором штата Уинслоу.
                        </p>
                    </details>

                    <details open>
                        <summary>Раздел III. ПРОКУРОРСКИЙ НАДЗОР</summary>
                        <summary>Статья 13. Предмет надзора</summary>
                        <p>
                            Предметом надзора являются соблюдение Конституции
                            штата Уинслоу и исполнение законов, действующих на
                            территории штата Уинслоу, федеральными органами
                            исполнительной власти, Следственным комитетом штата
                            Уинслоу, представительными (законодательными) и
                            исполнительными органами государственной власти
                            субъектов штата Уинслоу, органами местного
                            самоуправления, органами военного управления,
                            органами контроля, их должностными лицами,
                            субъектами осуществления общественного контроля за
                            обеспечением прав человека в местах принудительного
                            содержания и содействия лицам, находящимся в местах
                            принудительного содержания, а также органами
                            управления и руководителями коммерческих и
                            некоммерческих организаций; соответствие законам
                            правовых актов, издаваемых органами и должностными
                            лицами, указанными в настоящем пункте.
                        </p>

                        <summary>Статья 14. Полномочия прокурора</summary>
                        <p>
                            Прокурор при осуществлении возложенных на него
                            функций вправе: <br /> а) по предъявлении служебного
                            удостоверения беспрепятственно входить на территории
                            и в помещения органов, указанных в пунктах настоящего
                            Федерального закона, иметь доступ к их документам и материалам,
                            проверять исполнение законов в связи с поступившей в
                            органы прокуратуры информацией о фактах нарушения закона;
                            <br /> б) требовать от руководителей и других должностных
                            лиц указанных органов представления необходимых документов
                            и материалов или их копий, статистических и иных сведений
                            в сроки и порядке, которые установлены пунктами настоящего
                            Федерального закона; выделения специалистов для выяснения
                            возникших вопросов; проведения проверок по поступившим
                            в органы прокуратуры материалам и обращениям, ревизий
                            деятельности подконтрольных или подведомственных им организаций;
                            <br /> в) вызывать должностных лиц и граждан для объяснений
                            по поводу нарушений законов. <br /> г) полномочия прокуроров
                            вступают в силу с 02.10.2021 года.
                        </p>

                        <summary>Статья 15. Протест прокурора</summary>
                        <p>
                            Прокурор или его заместитель приносит протест на
                            противоречащий закону правовой акт в орган или
                            должностному лицу, которые издали этот акт, либо в
                            вышестоящий орган или вышестоящему должностному
                            лицу, либо обращается в суд в порядке,
                            предусмотренном процессуальным законодательством
                            штата Уинслоу.
                        </p>

                        <summary>Статья 16. Представление прокурора</summary>
                        <p>
                            1. Представление об устранении нарушений закона
                            вносится прокурором или его заместителем в орган или
                            должностному лицу, которые полномочны устранить
                            допущенные нарушения, и подлежит безотлагательному
                            рассмотрению. В течение месяца со дня внесения
                            представления должны быть приняты конкретные меры по
                            устранению допущенных нарушений закона, их причин и
                            условий, им способствующих; о результатах принятых
                            мер должно быть сообщено прокурору в письменной
                            форме. <br /> 2. При рассмотрении представления коллегиальным
                            органом прокурору сообщается о дне заседания. <br />
                            3. В случае несоответствия постановлений Правительства
                            штата Уинслоу Конституции штата Уинслоу и законам штата
                            Уинслоу Генеральный прокурор штата Уинслоу информирует
                            об этом Губернатора штата Уинслоу.
                        </p>

                        <summary>Статья 17. Постановление прокурора</summary>
                        <p>
                            1. Прокурор, исходя из характера нарушения закона
                            должностным лицом, выносит мотивированное
                            постановление о возбуждении производства об
                            административном правонарушении. <br /> 2. Постановление
                            прокурора о возбуждении производства об административном
                            правонарушении подлежит рассмотрению уполномоченным на
                            то органом или должностным лицом в срок, установленный
                            законом. О результатах рассмотрения сообщается прокурору
                            в письменной форме.
                        </p>

                        <summary
                            >Статья 17.1. Предостережение о недопустимости
                            нарушения закона</summary
                        >
                        <p>
                            В целях предупреждения правонарушений и при наличии
                            сведений о готовящихся противоправных деяниях
                            прокурор или его заместитель направляет в письменной
                            форме должностным лицам, а при наличии сведений о
                            готовящихся противоправных деяниях, содержащих
                            признаки экстремистской деятельности, руководителям
                            общественных (религиозных) объединений и иным лицам
                            предостережение о недопустимости нарушения закона. В
                            случае неисполнения требований, изложенных в
                            указанном предостережении, должностное лицо,
                            которому оно было объявлено, может быть привлечено к
                            ответственности в установленном законом порядке.
                        </p>
                    </details>

                    <details open>
                        <summary
                            >Раздел IV. УЧАСТИЕ ПРОКУРОРА В РАССМОТРЕНИИ ДЕЛ
                            СУДАМИ</summary
                        >
                        <summary
                            >Статья 18. Участие прокурора в рассмотрении дел
                            судами</summary
                        >
                        <p>
                            1. Прокурор участвует в рассмотрении дел судами в
                            случаях, предусмотренных процессуальным
                            законодательством штата Уинслоу и другими
                            федеральными законами. <br /> 2. Осуществляя уголовное
                            преследование в суде, прокурор выступает в качестве государственного
                            обвинителя. <b></b> 3. Прокурор в соответствии с процессуальным
                            законодательством штата Уинслоу вправе обратиться в суд
                            с заявлением или вступить в дело в любой стадии процесса,
                            если этого требует защита прав граждан и охраняемых законом
                            интересов общества или государства. <br /> 4. Полномочия
                            прокурора, участвующего в судебном рассмотрении дел,
                            определяются процессуальным законодательством штата Уинслоу.
                            <br /> 5. Генеральный прокурор штата Уинслоу в соответствии
                            с законодательством штата Уинслоу принимает участие в
                            заседаниях Верховного Суда штата Уинслоу. <br /> 6. Генеральный
                            прокурор штата Уинслоу вправе обращаться в Конституционный
                            Суд штата Уинслоу по вопросу нарушения конституционных
                            прав и свобод граждан законом, примененным или подлежащим
                            применению в конкретном деле.
                        </p>

                        <summary
                            >Статья 19. Опротестование судебных решений</summary
                        >
                        <p>
                            1. Прокурор или его заместитель в пределах своей
                            компетенции приносит в вышестоящий суд кассационный
                            или частный протест либо протест в порядке надзора,
                            а в арбитражный суд - апелляционную или кассационную
                            жалобу либо протест в порядке надзора на незаконное
                            или необоснованное решение, приговор, определение
                            или постановление суда. Помощник прокурора, прокурор
                            управления, прокурор отдела могут приносить протест
                            только по делу, в рассмотрении которого они
                            участвовали. <br /> 2. Прокурор или его заместитель независимо
                            от участия в судебном разбирательстве вправе в пределах
                            своей компетенции истребовать из суда любое дело или
                            категорию дел, по которым решение, приговор, определение
                            или постановление вступили в законную силу. Усмотрев,
                            что решение, приговор, определение или постановление
                            суда являются незаконными или необоснованными, прокурор
                            приносит протест в порядке надзора или обращается с представлением
                            к вышестоящему прокурору. <br /> 3. Протест на решение
                            судьи по делу об административном правонарушении может
                            быть принесен прокурором города, района, вышестоящим
                            прокурором и их заместителями.
                        </p>

                        <summary>Статья 20. Отзыв протеста</summary>
                        <p>
                            Протест на решение, приговор, определение или
                            постановление суда до начала его рассмотрения судом
                            может быть отозван прокурором, принесшим протест.
                        </p>

                        <summary
                            >Статья 21. Приостановление исполнения судебного
                            приговора</summary
                        >
                        <p>
                            Принесение Генеральным прокурором штата Уинслоу или
                            его заместителем протеста на приговор, которым в
                            качестве меры наказания назначена смертная казнь,
                            приостанавливает его исполнение.
                        </p>

                        <summary
                            >Статья 22. Представление о даче судам разъяснений</summary
                        >
                        <p>
                            Генеральный прокурор штата Уинслоу вправе обращаться
                            в Пленум Верховного Суда штата Уинслоу с
                            представлениями о даче судам разъяснений по вопросам
                            судебной практики по гражданским, арбитражным,
                            уголовным, административным и иным делам.
                        </p>
                    </details>

                    <details open>
                        <summary
                            >Раздел V. СЛУЖБА В ОРГАНАХ И ОРГАНИЗАЦИЯХ
                            ПРОКУРАТУРЫ. КАДРЫ ОРГАНОВ И ОРГАНИЗАЦИЙ ПРОКУРАТУРЫ</summary
                        >
                        <summary
                            >Статья 26. Аттестация прокурорских работников.
                            Классные чины прокурорских работников</summary
                        >
                        <p>
                            1. Перевод прокурорского работника в интересах
                            службы в другую местность допускается только с его
                            согласия, а при переводе в местности с тяжелыми и
                            неблагоприятными климатическими условиями - также
                            при наличии медицинского заключения об отсутствии
                            противопоказаний для прохождения службы в указанных
                            местностях с учетом состояния здоровья прокурорского
                            работника по форме, утверждаемой Правительством
                            штата Уинслоу. Перевод прокурорского работника на
                            службу в другую местность по его инициативе
                            допускается лишь по согласованию с руководителями
                            соответствующих органов прокуратуры. <br /> 2. Прокурорским
                            работникам, переведенным на постоянную службу в другую
                            местность, расходы на их переезд и переезд членов их
                            семей возмещаются в полном объеме за счет средств федерального
                            бюджета.
                        </p>

                        <summary>Статья 26.5. Поощрение работников</summary>
                        <p>
                            1. За примерное исполнение работниками своих
                            служебных обязанностей, продолжительную и
                            безупречную службу в органах и организациях
                            прокуратуры, выполнение заданий особой важности и
                            сложности применяются следующие поощрения: <br /> а)
                            объявление благодарности; <br /> б) награждение Почетной
                            грамотой; <br /> в) занесение на Доску почета, в Книгу
                            почета; <br /> г) выдача денежной премии; д) награждение
                            подарком; <br /> е) награждение ценным подарком; ж) награждение
                            именным оружием; <br /> з) досрочное присвоение классного
                            чина или присвоение классного чина на ступень выше очередного;
                            <br /> и) награждение нагрудным знаком "За безупречную
                            службу в прокуратуре штата Уинслоу"; <br /> к) награждение
                            нагрудным знаком "Почетный работник прокуратуры штата
                            Уинслоу" с одновременным вручением грамоты Генерального
                            прокурора штата Уинслоу. <br /> 2. Особо отличившиеся
                            работники могут быть представлены к награждению государственными
                            наградами штата Уинслоу, поощрению Губернатором штата
                            Уинслоу, Правительством штата Уинслоу. <br /> 3. Генеральный
                            прокурор штата Уинслоу может устанавливать виды поощрений,
                            не предусмотренные пунктом 1 настоящей статьи. <br
                            /> 4. Положения о нагрудных знаках "Почетный работник
                            прокуратуры штата Уинслоу" и "За безупречную службу в
                            прокуратуре штата Уинслоу" утверждаются Генеральным прокурором
                            штата Уинслоу. <br /> 5. Для награждения работников используются
                            средства наградного и подарочного фондов. <br /> 6. Генеральный
                            прокурор штата Уинслоу может применять установленные
                            настоящей статьей поощрения к не являющимся работниками
                            органов и организаций прокуратуры лицам, оказывающим
                            существенную помощь в укреплении законности и развитии
                            системы прокуратуры штата Уинслоу.
                        </p>

                        <summary
                            >Статья 26.6. Дисциплинарная ответственность</summary
                        >
                        <p>
                            За неисполнение или ненадлежащее исполнение
                            работниками своих служебных обязанностей и
                            совершение проступков, порочащих честь прокурорского
                            работника, руководители органов и организаций
                            прокуратуры имеют право налагать на них следующие
                            дисциплинарные взыскания: <br /> а) замечание; <br
                            /> б) выговор;
                            <br /> в) строгий выговор; <br /> г) понижение в классном
                            чине; <b>
                                д) лишение нагрудного знака "За безупречную
                                службу в прокуратуре штата Уинслоу"; <b></b> е) лишение
                                нагрудного знака "Почетный работник прокуратуры штата
                                Уинслоу";
                                <br /> ж) предупреждение о неполном служебном соответствии;
                                <br /> з) увольнение из органов прокуратуры.
                            </b>

                            <summary
                                >Статья 26.7. Увольнение в связи с утратой
                                доверия</summary
                            >
                            <p>
                                1. Работник в порядке, установленном
                                законодательством штата Уинслоу,
                                регламентирующим вопросы прохождения службы в
                                органах прокуратуры, подлежит увольнению в связи
                                с утратой доверия в случае: <br /> а) непринятия
                                работником мер по предотвращению и (или) урегулированию
                                конфликта интересов, стороной которого он является;
                                <br /> б) непредставления работником сведений о своих
                                доходах, расходах, об имуществе и обязательствах
                                имущественного характера, а также о доходах, расходах,
                                об имуществе и обязательствах имущественного характера
                                своих супруги (супруга) и несовершеннолетних детей
                                либо представления заведомо недостоверных или неполных
                                сведений; <br /> в) участия работника на платной
                                основе в деятельности органа управления коммерческой
                                организации, за исключением случаев, установленных
                                федеральным законом; <br /> г) осуществления работником
                                предпринимательской деятельности; <br /> д) вхождения
                                работника в состав органов управления, попечительских
                                или наблюдательных советов, иных органов иностранных
                                некоммерческих неправительственных организаций и
                                действующих на территории штата Уинслоу их структурных
                                подразделений, если иное не предусмотрено международным
                                договором штата Уинслоу или законодательством штата
                                Уинслоу; <br /> е) нарушения работником, его супругой
                                (супругом) и несовершеннолетними детьми в случаях,
                                предусмотренных Федеральным законом "О запрете отдельным
                                категориям лиц открывать и иметь счета (вклады),
                                хранить наличные денежные средства и ценности в иностранных
                                банках, расположенных за пределами территории штата
                                Уинслоу, владеть и (или) пользоваться иностранными
                                финансовыми инструментами", запрета открывать и иметь
                                счета (вклады), хранить наличные денежные средства
                                и ценности в иностранных банках, расположенных за
                                пределами территории штата Уинслоу, владеть и (или)
                                пользоваться иностранными финансовыми инструментами.
                                При этом понятие "иностранные финансовые инструменты"
                                используется в значении, определенном указанным Федеральным
                                законом.
                            </p>

                            <summary
                                >Статья 26.8. Порядок применения взысканий за
                                коррупционные правонарушения</summary
                            >
                            <p>
                                Взыскания, предусмотренные статьей 41.9
                                настоящего Федерального закона, применяются в
                                порядке, установленном пунктами статьи 31.6
                                настоящего Федерального закона, с учетом
                                особенностей, установленных настоящей статьей.
                            </p>

                            <summary
                                >Статья 27. Прекращение службы в органах и
                                организациях прокуратуры</summary
                            >
                            <p>
                                1. Служба в органах и организациях прокуратуры
                                прекращается при увольнении прокурорского
                                работника. Помимо оснований, предусмотренных
                                законодательством штата Уинслоу о труде,
                                прокурорский работник может быть уволен в связи
                                с выходом в отставку и по инициативе
                                руководителя органа или организации прокуратуры
                                в случаях: <br /> а) достижения прокурорским работником
                                предельного возраста пребывания на службе в органах
                                и организациях прокуратуры; <br /> б) прекращения
                                гражданства штата Уинслоу или приобретения гражданства
                                (подданства) иностранного государства либо получения
                                вида на жительство или иного документа, подтверждающего
                                право на постоянное проживание гражданина штата Уинслоу
                                на территории иностранного государства;
                                <br /> в) нарушения Присяги прокурора, а также совершения
                                проступков, порочащих честь прокурорского работника;
                                <br /> г) разглашения сведений, составляющих государственную
                                и иную охраняемую законом тайну; д) утраты доверия
                                в соответствии со статьей 26.7 настоящего Федерального
                                закона; <br /> е) отказа от назначения на должности,
                                предложенные в связи с истечением срока полномочий
                                или досрочным прекращением полномочий; <br /> ж)
                                отсутствия на службе в течение более четырех месяцев
                                подряд в связи с временной нетрудоспособностью, если
                                законодательством штата Уинслоу не установлен более
                                длительный срок сохранения места работы (должности)
                                при определенном заболевании или если для определенной
                                категории граждан законодательством штата Уинслоу
                                не предусмотрены гарантии по сохранению места работы
                                (должности). За прокурорским работником сохраняется
                                место работы (должность) в период его временной нетрудоспособности
                                в связи с увечьем, профессиональным заболеванием
                                или иным повреждением здоровья, связанным с исполнением
                                служебных обязанностей, независимо от продолжительности
                                этого периода.
                            </p>

                            <summary
                                >Статья 28. Меры правовой защиты и социальной
                                поддержки прокуроров</summary
                            >
                            <p>
                                Прокуроры, являясь представителями
                                государственной власти, находятся под особой
                                защитой государства. Под такой же защитой
                                находятся их близкие родственники, а в
                                исключительных случаях также иные лица, на
                                жизнь, здоровье и имущество которых совершается
                                посягательство с целью воспрепятствовать
                                законной деятельности прокуроров, либо принудить
                                их к изменению ее характера, либо из мести за
                                указанную деятельность. Под такой же защитой
                                находится имущество указанных лиц.
                            </p>
                        </p>
                    </details>
                </div>
            </div>
        </div>
    </div>

    <style lang="scss" is:global>
        @use "/src/assets/mixin" as mixins;

        .law {
            background: #ecf1f7;
        }

        .law-container {
            @include mixins.flipdisp;
        }

        .struct-details {
            background: #ecf1f7;
            padding-bottom: 70px;
        }

        .struct-text {
            & h2 {
                text-align: start;
            }

            & details {
                cursor: pointer;
                margin-bottom: 8px;
                padding: 1.5rem 0;
                list-style-type: none;

                &:not(:last-child) {
                    border-bottom: #162e51 solid 0.1px;
                }

                & summary {
                    color: #162e51;
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    margin-top: 20px;
                }

                & p {
                    color: #111;
                    line-height: 1.25;
                }
            }
        }
    </style>
</Layout>
