---
import LineSVG from "../components/svg/LineSVG.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prosecutor | Law on the Prosecutor's Office">
    <div class="law-container">
        <h2>Закон "О прокуратуре"</h2>
        <LineSVG />
    </div>
</Layout>

<style lang="scss" is:global></style>
