---
import Layout from "../layouts/Layout.astro";
import MissionsPage from "../components/Missions/MissionsPage.astro";
import MissionsPageStructure from "../components/Missions/MissionsPageStructure.astro";
---

<Layout title="Prosecutor | Missions">
    <section>
        <MissionsPage />
    </section>
    <section>
        <MissionsPageStructure />
    </section>
</Layout>
