---
import LineSVG from "../components/svg/LineSVG.astro";
import LineSecSVG from "../components/svg/LineSecSVG.astro";
import Layout from "../layouts/Layout.astro";

const structure = [
    {
        id: "0",
        title: "Государственный прокурор",
        subtitle:
            "Выполняет функции надзора за соблюдением законности на территории Соединённых Штатов, контролирует деятельность правоохранительных органов. Входит в состав Руководства Правительства и Министерства Юстиции.Помимо других полномочий осуществляет общее руководство Федеральным Бюро Расследований и некоторыми другими ведомствами.",
    },
    {
        id: "1",
        title: "Заместитель Государственного прокурора",
        subtitle:
            "Прямой заместитель Государственного прокурора, фактически является правой рукой Государственного Прокурора и числится как второй руководитель Прокуратурой. Назначается и утверждается на должность Государственным Прокурором штата, также может быть снят указом Государственного Прокурора. В его обязанности входит контроль правоохранительных органов и в случае отсутствия Государственного Прокурора на своем посту, исполняет его обязанности.",
    },
    {
        id: "2",
        title: "Помощник государственного прокурора",
        subtitle:
            "Является помощником государственного прокурора, занимается курированием практикантов прокуратуры и ведёт работу с исками судейской коллегии. Назначается на должность Государственным прокурором и его заместителем, снимается точно так же.",
    },
    {
        id: "3",
        title: "Прокурор",
        subtitle:
            "Cотрудник Прокуратуры, выполняющий все обязанности своей профессии в пределах всего штата и выполняющий полноценный прокурорский надзор за ним. Повышается и утверждается Государственным прокурором и его заместителем, и снимается точно так же.",
    },
    {
        id: "3",
        title: "Помощник прокурора",
        subtitle:
            "Полноценный прокурор с ограничеными служебными правами и обязанностями, который выходит после успешной практикантуры на стажеровку и закрепляется за прокурором. Выдвигается в роле кандидата Помощником государственного прокурора, а утверждается Государственным прокурором или его заместителем.",
    },
];
---

<Layout title="Prosecutor | Structure of prosecutor's">
    <section>
        <div class="struct-container">
            <div class="struct-header">
                <h2>Структура организации</h2>
                <LineSVG />
                <div class="struct-img">
                    <img src="/iera.png" alt="struct" />
                </div>
            </div>
        </div>
        <div class="struct-details">
            <div class="struct-text">
                <h2>Структура организации(текстовая версия)</h2>
                <LineSecSVG />
                {
                    structure.map((item) => (
                        <details open data-idx={item.id}>
                            <summary>{item.title}</summary>
                            <p>{item.subtitle}</p>
                        </details>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    @use "/src/assets/mixin" as mixins;
    .struct-container {
        margin-bottom: 70px;
    }

    .struct-header {
        @include mixins.flipdisp;
    }

    .struct-img {
        display: flex;
        justify-content: center;

        & img {
            width: 37.5rem;
            height: 37.5rem;
        }
    }

    @media (max-width: 625px) {
        .struct-img {
            display: flex;
            justify-content: center;

            & img {
                width: 22rem;
                height: 22rem;
            }
        }
    }
</style>
