---
import SearchSVG from "./svg/SearchSVG.astro";

const head = [
    {
        id: "0",
        title: "О нас",
        link: "/",
    },
    {
        id: "1",
        title: "Наша миссия",
        link: "/missions",
    },
    {
        id: "2",
        title: "Новости",
        link: "",
    },
    {
        id: "3",
        title: "Руководство",
        link: "",
    },
    {
        id: "4",
        title: "Работа",
        link: "",
    },
];
---

<div class="container jusc-container">
    <div class="reg-header">
        <div class="nav-just">
            <div class="usa-logo">
                <a href="/">
                    <img
                        src="/logo.svg"
                        alt=""
                        style="width: 18.75rem; height: 6.25rem"
                    />
                </a>
            </div>
            <div class="usa-place">
                <ul class="usa-place_menu">
                    <li>
                        <a
                            href="https://forum.arizona-rp.com/threads/4712079/"
                            target="_blank">Фед.закон</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://forum.arizona-rp.com/threads/4602187/"
                            target="_blank">Попросить помощи</a
                        >
                    </li>
                </ul>
                <form class="usa-search">
                    <input class="usa-search_input" placeholder="Искать..." />
                    <button>
                        <SearchSVG />
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="jusc-sec_cont">
        <nav class="nav">
            <ul class="nav-link">
                {
                    head.map((item) => (
                        <li data-idx={item.id}>
                            <a href={item.link}>
                                <span>{item.title}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</div>

<style lang="scss" is:global>
    @use "/src/assets/mixin" as mixins;

    .nav-just,
    .nav {
        @include mixins.flipdisp;
    }

    .reg-header {
        background: #162e51;
        border-bottom: #ffbe2e 3px solid;
    }

    .nav-just {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
    }

    .usa-place {
        &_menu {
            display: flex;
            margin-bottom: 10px;

            & li {
                padding-right: 10px;
                margin-right: 10px;
                font-size: 0.8rem;

                &:not(:last-child) {
                    border-right: 0.5px solid #6a798f;
                }

                &:hover {
                    color: #ffd700;
                    text-decoration: underline;
                }
            }
        }
    }

    .usa-search {
        display: flex;
        margin: auto;

        &_input {
            display: block;
            margin: 0 auto;
            padding-left: 0.3rem;
            border: 1px solid white;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            width: 100%;
            height: 2rem;
            font-size: 1rem;
        }

        & button {
            background: #ffbe2e;
            width: 2rem;
            cursor: pointer;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            transition: 0.3s ease;

            &:hover {
                background: #ffbe8e;
                transition: 0.3s ease;
            }
        }
    }

    .jusc-sec_cont {
        background: #2e2e2a;
    }

    .nav {
        &-link {
            display: flex;
            align-items: center;
            height: 4.2rem;

            & a {
                font-size: 1rem;
                font-weight: 500;
                padding: 1.5rem;
                color: #eee;
                background: inherit;
                cursor: pointer;

                &:hover {
                    background: #ffbe2e;
                    color: black;
                }
            }
        }
    }
</style>
