---
const {img, title, subtitle} = Astro.props;
---

<div class="footer-head_title_contacts_list">
    <img src={img} alt="logo">
    <div>
        <span>{title}</span>
        <p>{subtitle}</p>
    </div>
</div>

<style lang="scss">
    .footer-head_title_contacts_list {
        display: flex;
        align-items: start;

    & img {
          padding-right: 0.625rem;
      }

    & div {
          padding-bottom: 30px;

    & span {
          font-size: 1.2rem;
          font-weight: bold;
      }

    & p {
          font-size: 1.1rem;
          font-weight: 500;
          padding-top: .4rem;
      }
    }
    }
</style>