---
import LineSecSVG from "../svg/LineSecSVG.astro";
---

<div class="mission-container">
    <h2>Наша миссия</h2>
    <LineSecSVG />
    <div class="mission-about">
        <p>
            Миссия Прокуратуры состоит в том, чтобы поддерживать верховенство
            закона, обеспечивать безопасность нашей страны и защищать
            гражданские права.
            <br />
            Вы постоянно наблюдаете нарушения от любой из организаций и они постоянно
            вам мешают выполнять свою честную работу? Поручите это дело Прокуратуре!
            Мы быстро приедем на место происшествия.
            <br />
            Вас обвиняют, но Вы никогда не нарушаете? Поручите дело Прокуратуре!
            Мы всегда огласим верное с точки зрения закона обвинение, которое заставит
            того, кто вас оклеветал – просить прощения, выплачивать моральную компенсацию,
            а также будет привлечен к Уголовной Ответственности.
            <br />
            <b>Всегда положитесь на Государственных Обвинителей.</b>
        </p>
        <img src="/dojimg.jpeg" alt="logo" />
    </div>
</div>

<style is:global lang="scss">
    @use "/src/assets/mixin" as mixins;

    .mission-container {
        @include mixins.flipdisp;

        & h2 {
            text-align: start;
        }
    }

    .mission-about {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            width: 550px;
            font-size: 1.2rem;
            color: #162e51;
            line-height: 1.5;
        }

        & img {
            width: 511px;
            height: 450px;
        }
    }

    @media (max-width: 1000px) {
        .mission-about {
            flex-direction: column-reverse;
        }
    }

    @media (max-width: 600px) {
        .mission-about {
            & p {
                margin: 0 20px;
                width: auto;
                text-align: center;
                font-size: 1rem;
            }

            & img {
                width: 300px;
                height: 250px;
            }
        }
    }
</style>
